<?xml version="1.0" encoding="utf-8"?>
<rss>
<menucompleto>
<menu>
<idMenu>0</idMenu>
<nombreMenu>Almacén y Ventas</nombreMenu>
<hijo>T</hijo>
<padre></padre>
<href></href>
<categoria>0</categoria>
</menu>
<menu>
<idMenu>69</idMenu>
<nombreMenu>Compras</nombreMenu>
<hijo>T</hijo>
<padre>0</padre>
<href></href>
<categoria>1</categoria>
</menu>
<menu>
<idMenu>61</idMenu>
<nombreMenu>Requerimientos</nombreMenu>
<hijo>F</hijo>
<padre>69</padre>
<href>requerimientos.html</href>
<categoria>2</categoria>
</menu>
<menu>
<idMenu>62</idMenu>
<nombreMenu>Cotizaciones</nombreMenu>
<hijo>F</hijo>
<padre>69</padre>
<href>cotizaciones.html</href>
<categoria>2</categoria>
</menu>
<menu>
<idMenu>63</idMenu>
<nombreMenu>Orden de Compra</nombreMenu>
<hijo>F</hijo>
<padre>69</padre>
<href>orden_compra.html</href>
<categoria>2</categoria>
</menu>
<menu>
<idMenu>64</idMenu>
<nombreMenu>Movimientos de Almacén</nombreMenu>
<hijo>T</hijo>
<padre>0</padre>
<href></href>
<categoria>1</categoria>
</menu>
<menu>
<idMenu>65</idMenu>
<nombreMenu>Ingresos</nombreMenu>
<hijo>F</hijo>
<padre>64</padre>
<href>ingresos.html</href>
<categoria>2</categoria>
</menu>
<menu>
<idMenu>66</idMenu>
<nombreMenu>Salidas</nombreMenu>
<hijo>F</hijo>
<padre>64</padre>
<href>salidas.html</href>
<categoria>2</categoria>
</menu>
<menu>
<idMenu>67</idMenu>
<nombreMenu>Concesionarios</nombreMenu>
<hijo>F</hijo>
<padre>64</padre>
<href>guias_concesionarios.html</href>
<categoria>2</categoria>
</menu>
<menu>
<idMenu>68</idMenu>
<nombreMenu>Liquidación Ventas Concesionarios</nombreMenu>
<hijo>F</hijo>
<padre>0</padre>
<href>lista_liquidaciones.html</href>
<categoria>1</categoria>
</menu>
<menu>
<idMenu>33</idMenu>
<nombreMenu>Registro Certificados Vendidos</nombreMenu>
<hijo>F</hijo>
<padre>0</padre>
<href>ventas_certificados.html</href>
<categoria>1</categoria>
</menu>
<menu>
<idMenu>113</idMenu>
<nombreMenu>Contratos con Empresas</nombreMenu>
<hijo>T</hijo>
<padre>0</padre>
<href></href>
<categoria>1</categoria>
</menu>
<menu>
<idMenu>115</idMenu>
<nombreMenu>Nuevos Contratos</nombreMenu>
<hijo>F</hijo>
<padre>113</padre>
<href>vtaspj-contratos.html</href>
<categoria>2</categoria>
</menu>
<menu>
<idMenu>116</idMenu>
<nombreMenu>Inclusiones y Exclusiones</nombreMenu>
<hijo>F</hijo>
<padre>113</padre>
<href>vtaspj-incexc.html</href>
<categoria>2</categoria>
</menu>
<menu>
<idMenu>117</idMenu>
<nombreMenu>Renovaciones</nombreMenu>
<hijo>F</hijo>
<padre>113</padre>
<href>vtaspj-renovacion.html</href>
<categoria>2</categoria>
</menu>
<menu>
<idMenu>120</idMenu>
<nombreMenu>Facturacion</nombreMenu>
<hijo>T</hijo>
<padre>0</padre>
<href></href>
<categoria>1</categoria>
</menu>
<menu>
<idMenu>121</idMenu>
<nombreMenu>Emisión BV/FACT Temporal</nombreMenu>
<hijo>F</hijo>
<padre>120</padre>
<href>vtas-emision.html</href>
<categoria>2</categoria>
</menu>
<menu>
<idMenu>124</idMenu>
<nombreMenu>Aprobacion y envio SUNAT</nombreMenu>
<hijo>F</hijo>
<padre>120</padre>
<href>vtas-sunat.html</href>
<categoria>2</categoria>
</menu>
<menu>
<idMenu>70</idMenu>
<nombreMenu>Reportes</nombreMenu>
<hijo>T</hijo>
<padre>0</padre>
<href></href>
<categoria>1</categoria>
</menu>
<menu>
<idMenu>130</idMenu>
<nombreMenu>Reporte CAT</nombreMenu>
<hijo>F</hijo>
<padre>70</padre>
<href>reporte_cat.html</href>
<categoria>2</categoria>
</menu>
<menu>
<idMenu>131</idMenu>
<nombreMenu>Reporte Asociados</nombreMenu>
<hijo>F</hijo>
<padre>70</padre>
<href>reporte_asociado.html</href>
<categoria>2</categoria>
</menu>
<menu>
<idMenu>60</idMenu>
<nombreMenu>Lista General de Certificados</nombreMenu>
<hijo>F</hijo>
<padre>70</padre>
<href>reportes_certificados.html</href>
<categoria>2</categoria>
</menu>
<menu>
<idMenu>72</idMenu>
<nombreMenu>Seguimiento de Certificados</nombreMenu>
<hijo>F</hijo>
<padre>70</padre>
<href>seguimiento_certificados.html</href>
<categoria>2</categoria>
</menu>
<menu>
<idMenu>71</idMenu>
<nombreMenu>Compras</nombreMenu>
<hijo>F</hijo>
<padre>70</padre>
<href>sale</href>
<categoria>2</categoria>
</menu>
<menu>
<idMenu>73</idMenu>
<nombreMenu>Lista de Certificados por promotor</nombreMenu>
<hijo>F</hijo>
<padre>70</padre>
<href>certificadosxpromotor.html</href>
<categoria>2</categoria>
</menu>
<menu>
<idMenu>92</idMenu>
<nombreMenu>Listar Facturas</nombreMenu>
<hijo>F</hijo>
<padre>70</padre>
<href>lista_facturas.html</href>
<categoria>2</categoria>
</menu>
<menu>
<idMenu>129</idMenu>
<nombreMenu>CATs activados x Promotor</nombreMenu>
<hijo>F</hijo>
<padre>70</padre>
<href>catsxpromotor.html</href>
<categoria>2</categoria>
</menu>
<menu>
<idMenu>91</idMenu>
<nombreMenu>CATS</nombreMenu>
<hijo>F</hijo>
<padre>0</padre>
<href>lista_certificados.html</href>
<categoria>1</categoria>
</menu>
<menu>
<idMenu>94</idMenu>
<nombreMenu>Tesoreria</nombreMenu>
<hijo>T</hijo>
<padre></padre>
<href></href>
<categoria>0</categoria>
</menu>
<menu>
<idMenu>95</idMenu>
<nombreMenu>Depositos</nombreMenu>
<hijo>T</hijo>
<padre>94</padre>
<href></href>
<categoria>1</categoria>
</menu>
<menu>
<idMenu>108</idMenu>
<nombreMenu>Ventas a Personas Naturales</nombreMenu>
<hijo>F</hijo>
<padre>95</padre>
<href>tesor-deposito-pn.html</href>
<categoria>2</categoria>
</menu>
<menu>
<idMenu>111</idMenu>
<nombreMenu>Aprobar  Depositos PN</nombreMenu>
<hijo>F</hijo>
<padre>95</padre>
<href>tesor-aprobacionpn.html</href>
<categoria>2</categoria>
</menu>
<menu>
<idMenu>109</idMenu>
<nombreMenu>Ventas a Personas Juridicas</nombreMenu>
<hijo>F</hijo>
<padre>95</padre>
<href>tesor-deposito-pj.html</href>
<categoria>2</categoria>
</menu>
<menu>
<idMenu>114</idMenu>
<nombreMenu>Aprobar Depositos PJ</nombreMenu>
<hijo>F</hijo>
<padre>95</padre>
<href>tesor-aprobacionpj.html</href>
<categoria>2</categoria>
</menu>
<menu>
<idMenu>98</idMenu>
<nombreMenu>Pagos</nombreMenu>
<hijo>T</hijo>
<padre>94</padre>
<href></href>
<categoria>1</categoria>
</menu>
<menu>
<idMenu>99</idMenu>
<nombreMenu>A Proveedores (Cartas Garantia)</nombreMenu>
<hijo>F</hijo>
<padre>98</padre>
<href>tesor-pago-prov-ordenes.html</href>
<categoria>2</categoria>
</menu>
<menu>
<idMenu>118</idMenu>
<nombreMenu>Aprobacion Orden Pago Prov.</nombreMenu>
<hijo>F</hijo>
<padre>98</padre>
<href>tesor-pago-prov-aprobacion.html</href>
<categoria>2</categoria>
</menu>
<menu>
<idMenu>126</idMenu>
<nombreMenu>Cheque/Recibo a Proveedor</nombreMenu>
<hijo>F</hijo>
<padre>98</padre>
<href>tesor-pago-cheq-prov.html</href>
<categoria>2</categoria>
</menu>
<menu>
<idMenu>100</idMenu>
<nombreMenu>A Agraviados / Beneficiarios</nombreMenu>
<hijo>F</hijo>
<padre>98</padre>
<href>tesor-pago-agrav-ordenes.html</href>
<categoria>2</categoria>
</menu>
<menu>
<idMenu>119</idMenu>
<nombreMenu>Cheque/Recibo para Agraviado</nombreMenu>
<hijo>F</hijo>
<padre>98</padre>
<href>tesor-pago-cheq.html</href>
<categoria>2</categoria>
</menu>
<menu>
<idMenu>102</idMenu>
<nombreMenu>Reportes</nombreMenu>
<hijo>T</hijo>
<padre>94</padre>
<href></href>
<categoria>1</categoria>
</menu>
<menu>
<idMenu>103</idMenu>
<nombreMenu>reporte 1</nombreMenu>
<hijo>F</hijo>
<padre>102</padre>
<href>rep-ort_e1.html</href>
<categoria>2</categoria>
</menu>
<menu>
<idMenu>110</idMenu>
<nombreMenu>reporte2</nombreMenu>
<hijo>F</hijo>
<padre>102</padre>
<href>rep2$@-2.html</href>
<categoria>2</categoria>
</menu>
<menu>
<idMenu>3</idMenu>
<nombreMenu>Siniestros</nombreMenu>
<hijo>T</hijo>
<padre></padre>
<href></href>
<categoria>0</categoria>
</menu>
<menu>
<idMenu>4</idMenu>
<nombreMenu>Central de Emergencias</nombreMenu>
<hijo>F</hijo>
<padre>3</padre>
<href>listaeventos.html</href>
<categoria>1</categoria>
</menu>
<menu>
<idMenu>46</idMenu>
<nombreMenu>Informe Procuración</nombreMenu>
<hijo>F</hijo>
<padre>3</padre>
<href>eventos_asignados.html</href>
<categoria>1</categoria>
</menu>
<menu>
<idMenu>127</idMenu>
<nombreMenu>Informes: cambio UIT, Sueldo min.</nombreMenu>
<hijo>F</hijo>
<padre>3</padre>
<href>mantenimiento_informec.html</href>
<categoria>1</categoria>
</menu>
<menu>
<idMenu>48</idMenu>
<nombreMenu>Provisión de Gastos</nombreMenu>
<hijo>T</hijo>
<padre>3</padre>
<href></href>
<categoria>1</categoria>
</menu>
<menu>
<idMenu>56</idMenu>
<nombreMenu>Por Agraviado</nombreMenu>
<hijo>F</hijo>
<padre>48</padre>
<href>provision_poragraviado.html</href>
<categoria>2</categoria>
</menu>
<menu>
<idMenu>57</idMenu>
<nombreMenu>Por Evento</nombreMenu>
<hijo>F</hijo>
<padre>48</padre>
<href>provision_gastos.html</href>
<categoria>2</categoria>
</menu>
<menu>
<idMenu>47</idMenu>
<nombreMenu>Cartas de Garantía</nombreMenu>
<hijo>T</hijo>
<padre>3</padre>
<href></href>
<categoria>1</categoria>
</menu>
<menu>
<idMenu>59</idMenu>
<nombreMenu>Por Agraviado</nombreMenu>
<hijo>F</hijo>
<padre>47</padre>
<href>cartagarantia_poragraviado.html</href>
<categoria>2</categoria>
</menu>
<menu>
<idMenu>58</idMenu>
<nombreMenu>Por Evento</nombreMenu>
<hijo>F</hijo>
<padre>47</padre>
<href>eventos_cartagarantia.html</href>
<categoria>2</categoria>
</menu>
<menu>
<idMenu>49</idMenu>
<nombreMenu>Procuradores</nombreMenu>
<hijo>F</hijo>
<padre>3</padre>
<href>procuradores.html</href>
<categoria>1</categoria>
</menu>
<menu>
<idMenu>54</idMenu>
<nombreMenu>Comisarias</nombreMenu>
<hijo>F</hijo>
<padre>3</padre>
<href>comisarias.html</href>
<categoria>1</categoria>
</menu>
<menu>
<idMenu>55</idMenu>
<nombreMenu>Nosocomios</nombreMenu>
<hijo>F</hijo>
<padre>3</padre>
<href>nosocomios.html</href>
<categoria>1</categoria>
</menu>
<menu>
<idMenu>50</idMenu>
<nombreMenu>Reportes</nombreMenu>
<hijo>T</hijo>
<padre>3</padre>
<href></href>
<categoria>1</categoria>
</menu>
<menu>
<idMenu>51</idMenu>
<nombreMenu>Cartas de Garantia (Pend.)</nombreMenu>
<hijo>F</hijo>
<padre>50</padre>
<href>lista_cartas.html</href>
<categoria>2</categoria>
</menu>
<menu>
<idMenu>52</idMenu>
<nombreMenu>Provisiones </nombreMenu>
<hijo>F</hijo>
<padre>50</padre>
<href>lista_provisiones.html</href>
<categoria>2</categoria>
</menu>
<menu>
<idMenu>53</idMenu>
<nombreMenu>-------------</nombreMenu>
<hijo>F</hijo>
<padre>50</padre>
<href>SIN2</href>
<categoria>2</categoria>
</menu>
<menu>
<idMenu>14</idMenu>
<nombreMenu>Control de Recuperos</nombreMenu>
<hijo>T</hijo>
<padre></padre>
<href></href>
<categoria>0</categoria>
</menu>
<menu>
<idMenu>15</idMenu>
<nombreMenu>Eventos</nombreMenu>
<hijo>T</hijo>
<padre>14</padre>
<href></href>
<categoria>1</categoria>
</menu>
<menu>
<idMenu>16</idMenu>
<nombreMenu>Datos generales del accidente</nombreMenu>
<hijo>F</hijo>
<padre>15</padre>
<href>datos.html</href>
<categoria>2</categoria>
</menu>
<menu>
<idMenu>17</idMenu>
<nombreMenu>Responsables del accidente</nombreMenu>
<hijo>F</hijo>
<padre>15</padre>
<href>actores.html</href>
<categoria>2</categoria>
</menu>
<menu>
<idMenu>18</idMenu>
<nombreMenu>Agraviados</nombreMenu>
<hijo>F</hijo>
<padre>15</padre>
<href>agraviados.html</href>
<categoria>2</categoria>
</menu>
<menu>
<idMenu>44</idMenu>
<nombreMenu>Vehiculos Informados</nombreMenu>
<hijo>F</hijo>
<padre>15</padre>
<href>vehiculos_informados.html</href>
<categoria>2</categoria>
</menu>
<menu>
<idMenu>19</idMenu>
<nombreMenu>Notificaciones</nombreMenu>
<hijo>T</hijo>
<padre>14</padre>
<href></href>
<categoria>1</categoria>
</menu>
<menu>
<idMenu>22</idMenu>
<nombreMenu>Motivos de Envio</nombreMenu>
<hijo>F</hijo>
<padre>19</padre>
<href>motivos.html</href>
<categoria>2</categoria>
</menu>
<menu>
<idMenu>20</idMenu>
<nombreMenu>Envios</nombreMenu>
<hijo>F</hijo>
<padre>19</padre>
<href>listanotificaciones.html</href>
<categoria>2</categoria>
</menu>
<menu>
<idMenu>21</idMenu>
<nombreMenu>Seguimiento</nombreMenu>
<hijo>F</hijo>
<padre>19</padre>
<href>agenda.html</href>
<categoria>2</categoria>
</menu>
<menu>
<idMenu>23</idMenu>
<nombreMenu>Conciliaciones</nombreMenu>
<hijo>T</hijo>
<padre>14</padre>
<href></href>
<categoria>1</categoria>
</menu>
<menu>
<idMenu>24</idMenu>
<nombreMenu>Acuerdo</nombreMenu>
<hijo>F</hijo>
<padre>23</padre>
<href>acuerdos.html</href>
<categoria>2</categoria>
</menu>
<menu>
<idMenu>26</idMenu>
<nombreMenu>Cronograma de Pago</nombreMenu>
<hijo>F</hijo>
<padre>23</padre>
<href>cronogramapagos.html</href>
<categoria>2</categoria>
</menu>
<menu>
<idMenu>29</idMenu>
<nombreMenu>Control de Pagos</nombreMenu>
<hijo>T</hijo>
<padre>14</padre>
<href></href>
<categoria>1</categoria>
</menu>
<menu>
<idMenu>30</idMenu>
<nombreMenu>Estados de Cuenta</nombreMenu>
<hijo>F</hijo>
<padre>29</padre>
<href>estadocuentas.html</href>
<categoria>2</categoria>
</menu>
<menu>
<idMenu>31</idMenu>
<nombreMenu>Orden de Pago</nombreMenu>
<hijo>F</hijo>
<padre>29</padre>
<href>ordenpago.html</href>
<categoria>2</categoria>
</menu>
<menu>
<idMenu>32</idMenu>
<nombreMenu>Pago de Cuotas</nombreMenu>
<hijo>F</hijo>
<padre>29</padre>
<href>pagocuotas.html</href>
<categoria>2</categoria>
</menu>
<menu>
<idMenu>27</idMenu>
<nombreMenu>Reportes</nombreMenu>
<hijo>T</hijo>
<padre>14</padre>
<href></href>
<categoria>1</categoria>
</menu>
<menu>
<idMenu>28</idMenu>
<nombreMenu>Gastos por recuperar</nombreMenu>
<hijo>F</hijo>
<padre>27</padre>
<href>deudasxrecuperos.html</href>
<categoria>2</categoria>
</menu>
<menu>
<idMenu>13</idMenu>
<nombreMenu>Consulta Liquidacion Siniestro</nombreMenu>
<hijo>F</hijo>
<padre>27</padre>
<href>liquidacion.html</href>
<categoria>2</categoria>
</menu>
<menu>
<idMenu>45</idMenu>
<nombreMenu>Agraviados por Evento</nombreMenu>
<hijo>F</hijo>
<padre>27</padre>
<href>agraviados_evento.html</href>
<categoria>2</categoria>
</menu>
<menu>
<idMenu>34</idMenu>
<nombreMenu>Tramites</nombreMenu>
<hijo>T</hijo>
<padre></padre>
<href></href>
<categoria>0</categoria>
</menu>
<menu>
<idMenu>35</idMenu>
<nombreMenu>Ingreso de Expedientes</nombreMenu>
<hijo>F</hijo>
<padre>34</padre>
<href>ingresoexpediente.html</href>
<categoria>1</categoria>
</menu>
<menu>
<idMenu>36</idMenu>
<nombreMenu>Movimiento de Expedientes</nombreMenu>
<hijo>F</hijo>
<padre>34</padre>
<href>movimiento_expedientes.html</href>
<categoria>1</categoria>
</menu>
<menu>
<idMenu>39</idMenu>
<nombreMenu>Historial</nombreMenu>
<hijo>F</hijo>
<padre>34</padre>
<href>historial_expedientes.html</href>
<categoria>1</categoria>
</menu>
<menu>
<idMenu>42</idMenu>
<nombreMenu>Mantenimiento de Expedientes</nombreMenu>
<hijo>F</hijo>
<padre>34</padre>
<href>mantenimiento_expedientes.html</href>
<categoria>1</categoria>
</menu>
<menu>
<idMenu>40</idMenu>
<nombreMenu>Gestionar Citas</nombreMenu>
<hijo>F</hijo>
<padre>34</padre>
<href>gestionarcitas.html</href>
<categoria>1</categoria>
</menu>
<menu>
<idMenu>41</idMenu>
<nombreMenu>Gestionar Variables</nombreMenu>
<hijo>F</hijo>
<padre>34</padre>
<href>gestion_variables.html</href>
<categoria>1</categoria>
</menu>
<menu>
<idMenu>43</idMenu>
<nombreMenu>Expedientes Criticos</nombreMenu>
<hijo>F</hijo>
<padre>34</padre>
<href>expedientes_criticos.html</href>
<categoria>1</categoria>
</menu>
<menu>
<idMenu>8</idMenu>
<nombreMenu>Configuración Sist.</nombreMenu>
<hijo>T</hijo>
<padre></padre>
<href></href>
<categoria>0</categoria>
</menu>
<menu>
<idMenu>37</idMenu>
<nombreMenu>Usuarios</nombreMenu>
<hijo>F</hijo>
<padre>8</padre>
<href>listar_usuarios.html</href>
<categoria>1</categoria>
</menu>
<menu>
<idMenu>38</idMenu>
<nombreMenu>Areas</nombreMenu>
<hijo>F</hijo>
<padre>8</padre>
<href>listar_areas.html</href>
<categoria>1</categoria>
</menu>
<menu>
<idMenu>10</idMenu>
<nombreMenu>Perfiles</nombreMenu>
<hijo>F</hijo>
<padre>8</padre>
<href>modificarperfil.html</href>
<categoria>1</categoria>
</menu>
<menu>
<idMenu>11</idMenu>
<nombreMenu>Gestionar Menu</nombreMenu>
<hijo>F</hijo>
<padre>8</padre>
<href>nuevomenu.html</href>
<categoria>1</categoria>
</menu>
<menu>
<idMenu>74</idMenu>
<nombreMenu>Tablas maestras</nombreMenu>
<hijo>T</hijo>
<padre></padre>
<href></href>
<categoria>0</categoria>
</menu>
<menu>
<idMenu>75</idMenu>
<nombreMenu>Locales y almacenes</nombreMenu>
<hijo>T</hijo>
<padre>74</padre>
<href></href>
<categoria>1</categoria>
</menu>
<menu>
<idMenu>76</idMenu>
<nombreMenu>Locales</nombreMenu>
<hijo>F</hijo>
<padre>75</padre>
<href>mantenimiento_local.html</href>
<categoria>2</categoria>
</menu>
<menu>
<idMenu>77</idMenu>
<nombreMenu>Almacenes</nombreMenu>
<hijo>F</hijo>
<padre>75</padre>
<href>mantenimiento_almacen.html</href>
<categoria>2</categoria>
</menu>
<menu>
<idMenu>78</idMenu>
<nombreMenu>Articulos </nombreMenu>
<hijo>T</hijo>
<padre>74</padre>
<href></href>
<categoria>1</categoria>
</menu>
<menu>
<idMenu>79</idMenu>
<nombreMenu>Articulos</nombreMenu>
<hijo>F</hijo>
<padre>78</padre>
<href>mantenimiento_articulo.html</href>
<categoria>2</categoria>
</menu>
<menu>
<idMenu>80</idMenu>
<nombreMenu>Articulos por almacén</nombreMenu>
<hijo>F</hijo>
<padre>78</padre>
<href>mantenimiento_articulosxalmacen.html</href>
<categoria>2</categoria>
</menu>
<menu>
<idMenu>81</idMenu>
<nombreMenu>Concesionarios</nombreMenu>
<hijo>F</hijo>
<padre>74</padre>
<href>mantenimiento_concesionario.html</href>
<categoria>1</categoria>
</menu>
<menu>
<idMenu>82</idMenu>
<nombreMenu>Promotores</nombreMenu>
<hijo>F</hijo>
<padre>74</padre>
<href>mantenimiento_promotor.html</href>
<categoria>1</categoria>
</menu>
<menu>
<idMenu>83</idMenu>
<nombreMenu>Proveedores</nombreMenu>
<hijo>F</hijo>
<padre>74</padre>
<href>mantenimiento_proveedor.html</href>
<categoria>1</categoria>
</menu>
<menu>
<idMenu>84</idMenu>
<nombreMenu>Asociados</nombreMenu>
<hijo>F</hijo>
<padre>74</padre>
<href>mantenimiento_asociado.html</href>
<categoria>1</categoria>
</menu>
<menu>
<idMenu>85</idMenu>
<nombreMenu>Agraviados</nombreMenu>
<hijo>F</hijo>
<padre>74</padre>
<href>mantenimiento_agraviado.html</href>
<categoria>1</categoria>
</menu>
<menu>
<idMenu>128</idMenu>
<nombreMenu>Vehiculos</nombreMenu>
<hijo>F</hijo>
<padre>74</padre>
<href>mantenimiento_vehiculo.html</href>
<categoria>1</categoria>
</menu>
<menu>
<idMenu>86</idMenu>
<nombreMenu>Usos y Clases de Vehiculos</nombreMenu>
<hijo>T</hijo>
<padre>74</padre>
<href></href>
<categoria>1</categoria>
</menu>
<menu>
<idMenu>87</idMenu>
<nombreMenu>Uso de Vehiculos</nombreMenu>
<hijo>F</hijo>
<padre>86</padre>
<href>mantenimiento_uso_vehiculo.html</href>
<categoria>2</categoria>
</menu>
<menu>
<idMenu>88</idMenu>
<nombreMenu>Clase de Vehiculos</nombreMenu>
<hijo>F</hijo>
<padre>86</padre>
<href>mantenimiento_clase_vehiculo.html</href>
<categoria>2</categoria>
</menu>
<menu>
<idMenu>89</idMenu>
<nombreMenu>Clases por Uso</nombreMenu>
<hijo>F</hijo>
<padre>86</padre>
<href>mantenimiento_usoclasevehiculo.html</href>
<categoria>2</categoria>
</menu>
<menu>
<idMenu>90</idMenu>
<nombreMenu>Variables Globales</nombreMenu>
<hijo>F</hijo>
<padre>74</padre>
<href>mantenimiento_variableglobal.html</href>
<categoria>1</categoria>
</menu>
<menu>
<idMenu>125</idMenu>
<nombreMenu>Empresas</nombreMenu>
<hijo>F</hijo>
<padre>74</padre>
<href>mantenimiento_empresa.html</href>
<categoria>1</categoria>
</menu>
</menucompleto>
</rss>